<div class="content-wrapper">
    <section class="content">
        <section class="content-header">
          <h1>
            Dashboard
            <small>Control panel</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol>
        </section>
        <div class="row">
            <div class="col-lg-4 col-xs-4">
                <div class="box1 bg-aqua">
                    <div class="inner-box">
                        <h2>200+</h2>
                    </div>
                    <div class="icon">
                        <i class="ion"></i>
                    </div>
                    <a href="#" class="small-box-footer">Registered Non Goverment Organization<i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-xs-4">
                <div class="box2 bg-yellow">
                    <div class="inner-box">
                      <h2>500+</h2>
                    </div>
                    <div class="icon">
                      <i class="ion"></i>
                    </div>
                    <a href="#" class="small-box-footer">Adopted children <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-xs-4">
                <div class="box3 bg-yellow">
                    <div class="inner-box">
                      <h2>135+</h2>
                    </div>
                    <div class="icon">
                      <i class="ion"></i>
                    </div>
                    <a href="#" class="small-box-footer">Donar's Registered to support the NGO's<i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </section>
</div>
