<h1>Notifications</h1>
<table class="table product-overview">

  <tbody>
    <% @admin_reports.each do |admin_report| %>
      <tr>
        <td><h3><a href = "/admin/reports/<%= admin_report.id %>"><button class= "button-fix">Admin sends report for<%= admin_report.child_name %>at <%= admin_report.created_at %></button></a></h3></td>
      </tr>
    <% end %>
  </tbody>
</table>