/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require bootstrap-extension
 *= require sidebar-nav.min
 *= require jquery.toast
 *= require morris
 *= require animate
 *= require style
 *= require default
 *= require toastr
  = require font-awesome
 */
 @import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

.right {
    background: #91a09c;
}

.image{
	    height: 333px;
    width: 1295px;
}
.pic
{
	height: 190px;

}
.picture
{
	height: 40px;

}
.logo{
	margin: 16px 40px -11px;
}

.bar{
	background-color: #dec1c1;
}
ul {
  padding-left: 0px;
  list-style: none;
}
.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}


.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}


.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}

#container-fluid {
  padding-bottom: 100px;
}

#sidebar {
  background-color: #cedcec;
}

#header {
  background-color: #3c3c3c;
}

.square {
    width: 600px;
    height: 400px;
    padding: 50px;
    margin: 30px;
    border: 1px solid grey;
}

@media print {
  body {
    background-color: #FFF;
  }

  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  #line_items {
    page-break-before: always;
  }
  
  #pdf_link {
    display: none;
  }
}

/* RECTANGLE FOR DONOR*/
.small-box1{
    position: relative;
    width: 70%;
    width: 92%;
    height: 110px;
    overflow: hidden;
    background: #00b3ff;
  
  &:before{
    content: "";
    display: block;
    padding-top: 50%;
  }
}

.small-box2{
    position: relative;
    width: 70%;
    width: 92%;
    height: 110px;
    overflow: hidden;
    background: #fb722a96;
  
  &:before{
    content: "";
    display: block;
    padding-top: 50%;
  }
}

.inner{
    position:  absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    color: white;
  
  div {
     display: table;
     width: 100%;
     height: 100%;
  }
  
  span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
  }
}
/* RECTANGLE FOR ADMIN */
.box1{
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #00b3ff;
  
  &:before{
    content: "";
    display: block;
    padding-top: 50%;
  }
}

.box2{
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #e8e096;
  
  &:before{
    content: "";
    display: block;
    padding-top: 50%;
  }
}
.box3{
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #f98383;
  
  &:before{
    content: "";
    display: block;
    padding-top: 50%;
  }
}
.inner-box{
    position:  absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    color: white;
  
  div {
     display: table;
     width: 100%;
     height: 100%;
  }
  
  span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
  }
}
.button-fix {
    background-color: #0dbec7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}